/*
 * ETML
 * Auteur         :	Déglise Camille - Vougaz Maryline - Wu Guo Yu
 * Date           :	28.11.2023
 * Description    :	CSS
 */

body {
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(253, 240, 213);
}

header{
    background-color: rgb(102, 155, 188);
    color: rgb(0, 48, 73);
    width: 100%;
    display: inline-block;
}
nav{
    height: 60px;
    background-color : rgb(0, 48, 73);
    display: flex;
    
}
.titre-header{
    margin-top: 50px;
    margin-left: 80px;
}
.nav-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-links a{
    color: rgb(253, 240, 213);
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
}
.container-index {
    height: 500px;
    display: flex;
}
.bloc01{
    width: 60%;
    margin: 20px;
}
.bloc02{
    width: 25%;
    height: 70%;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(102, 155, 188);
}

h1{
    color: rgb(0, 48, 73);
}

h2{
    font-size: 24px;
    color:rgb(0, 48, 73);
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-size: 15px;
    color:rgb(253, 240, 213);
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3.profil{
    font-size: 20px;
    color:rgb(0, 48, 73);
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-login{
    display: flex;
    justify-content: end;
    align-items: center;
}

input, button{
    border-radius: 10px;
    height: 25px;
    margin : 5px;
}

footer{
    margin: 0;
    width: 100%;
    background-color : rgb(0, 48, 73);
    color: rgb(253, 240, 213);
    height : 50px;
    display: flex;
    justify-content: center;
}

header a, footer a{
    text-decoration: none;
    color: rgb(253, 240, 213);
}

.bloc01 img{
    height: 200px;
}

/*page liste--------------------------------------------*/

.book-name{
    display: flex;
    align-items: center;
}

h4{
    color: rgb(0, 48, 73);
}

.box-same-category-books{
    display: flex;
}
.box-book{
    width: 75px;
    margin: 25px;
}
.box-book img{
    height: 100px;
}
.box-book p{
    font-size: 12px;
}
.research-bar{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.research-bar img{
    height: 100%;
}

/*page détails livre*/
.container-details{
    display: flex;
    margin: 100px;
}

.book-image{
    height: 400px;
}
.icon{                                        
    height: 25px;
}
.page-part1{
    margin-right: 50px;
}
.page-part2{
    margin-left: 50px;
}

/*page ajout livre*/
p label{
    width: 5000px;
}